{% extends 'base.html' %}
{% block title %}{{ user_obj.username }}{% endblock %}
{% block menu %}
        <li><a href="{% url 'user_change_password' user_obj.pk %}">Change Password</a></li>

{% endblock %}
{% block content %}
 {% if user_obj.profile.avatar %}
       <img class="avatar" src="{{ user_obj.profile.avatar.url }}" width="250" height="250" alt="user picture">
   {% endif %}
    <h1>Profile: {{ user_obj.username }}</h1>
    <p>First Name: {{ user_obj.first_name }}</p>
    <p>Last Name: {{ user_obj.last_name }}</p>
    <p>Email: {{ user_obj.email }}</p>
    <p>{{ user_obj.profile.second_name }}</p>
    <p>{{ user_obj.profile.gender }}</p>
    <p>{{ user_obj.profile.country }}</p>


{% endblock %}